{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    

   
          
            
            <div class='container-image'>    
            <img class='image-article-blog' src='/images/blog/{{ blog.image }}'/>
           
          
           
            </div>
        <a class='article-blog-retour' href="{{ path('blog_index') }}">Revenir au blog</a>    
                  <h1 class='titre-article-blog'>{{ blog.titre }}</h1>
              <p class='paragraphe-article'> {{ blog.texte }}</p>
            
            
               
               {# {{ blog.date ? blog.date|date('Y-m-d') : '' }} #}
            
        </tbody>
    </table>

    

   

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
